table{
  display: table;
  border-spacing: 0;
}

th{
  text-align: center;
  padding: 10px;
  border: 1px solid black;
}

tbody{
  text-align: start;
}

td{
  padding: 10px;
  margin: 0;
  border: 1px solid black;
}

button:hover{
  cursor: pointer;
}

