.ant-layout-header{
  color: white;
}

h1, #page-size{
  margin-bottom: 2%;
}

.ant-layout-content{
  margin: 10%;
}

#user-details{
  list-style-type: none;
}

.open-button{
  background-color:lightgreen;
  &:hover{
    background-color:green;
    color: white;
    border: none;
  }
}
.delete-button{
  background-color:rgba(255, 0, 0, 0.5);
  &:hover{
    background-color:rgba(255, 0, 0, 0.8);
    color: white;
    border: none;
  }
}

#back-button{
  background-color: grey;
  color: white;
}